<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sugar.leke.mapper.OrderTaskMapper">
	<resultMap type="com.sugar.leke.pojo.OrderTask" id="BaseResultMap">
		<id property="id" column="id"/>
		<result property="questionCode" column="question_code"/>
		<result property="answerCode" column="answer_code"/>
		<result property="answerContent" column="answer_content"/>
		<result property="nextQuestionCode" column="next_question_code"/>
		<result property="gender" column="gender"/>
		<result property="minAge" column="min_age"/>
		<result property="maxAge" column="max_age"/>
		<result property="defaultOrder" column="default_order"/>
		<result property="appType" column="app_type"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<select id="listUserOrderByStatus" parameterType="com.sugar.leke.pojo.OrderTask" resultMap="BaseResultMap">
		SELECT * from order_task
		<where>
			<if test="mobile != null">
				and mobile = #{mobile}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			and DATE_FORMAT(start_time, '%Y-%m-%d') = #{today}
		</where>
	</select>


</mapper>